
.subject {
    margin-top: 5%;
    color: #9ec5cc;
    font-size: 20px;
    text-align: center;
}

span.subject, a.subject {
    color: #4e6f9b;
}

.subtitle {
    color: rgb(206, 203, 203);
    font-size: 20px;
    text-align: center;
}

hr {
    width: 65%;
}

.paragraph_wrapper {
    background-color: #fff;
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    
}

.paragraph_body {
  font-size: 20px;
  line-height: 1.5;
  color: #6d6c6c; 
}

.canvas {
    background-color: white;
    height: 70vh; 
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 2px;
    flex-wrap: wrap;
}

.editor-item {
    width: 50%; 
    margin: 0 auto; 
    padding: 20px;
    float: left;
}

.editor-item label {
    display: block; 
    font-size: 18px; 
    font-weight: bold; 
    margin-bottom: 10px;
}

.editor-item #big-textarea {
    width: 100%; 
    height: 200px; 
    padding: 10px; 
    resize: vertical; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.button-container {
    margin-top: 20px; 
    text-align: left; 
}

.button-container, #canvas-buttons {
    margin-right: 10%;
    text-align: right;
    margin-bottom: 10%;
}

.clear-button, .submit-button {
    padding: 10px 20px; 
    margin: 0 10px; 
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    cursor: pointer; 
}

.submit-button {
    background-color: #0ebb98; 
    color: #fff; 
    border: none; 
}

.sidebar {
    width: 10%;
    top: 0; 
    left: 0;
    background-color: #384048;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 5px;
    height: 100vh;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
}

.object-wrapper {
    background-color: #94dbe7;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);

    cursor: pointer; 

    border-radius: 5px; 
    padding-left: 2%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 0.5%;

    margin: 10%;
    width: 70%;
}

.object-title {
    color: rgb(56, 56, 56);
    font-size: 17px;
    text-align: center;
    font-weight: 500;
}

.object-tag {
    border-radius: 10px;
    background-color: #ccc;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    padding: 3px;
    width: fit-content;
    border: 1px solid darkgray;
    color: rgb(78, 78, 78);
    display: inline-block;
}

.column-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtext {
    font-size: 17px;
    line-height: 1.5;
    color: #9c9c9c; 
}

.subtext a {
    color: #4e6f9b;
}

.subtext-wrapper {
    background-color: #b0d0d6;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);

    border-radius: 5px; 

    margin-left: 15%;
    margin-top: 2%;

    padding-top: 20px;
    padding-bottom: 20px;

    width: 70%;
}

.li-wrapper-spread {
    padding-bottom: 5%;
    padding-top: 2%;
}

.li-wrapper-compact {
    padding-bottom: 0.5%;
    padding-top: 5px;
}

ol li{
    display: block;
    text-align: left;
    margin-left: 10px;
    color: #708090;
    font-size: 18px;
}

li a {
    margin-left: 22%;
    color: #4e6f9b;
}

a:hover {
    color: #94dbe7;
    cursor: pointer;
}