body {
    background-color: #c3dae0;
}

.header {
    padding-top: 10px;
    background-color: #384048;
    border-radius: 5px;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: #94dbe7;
    padding-left: 5%;
}

.ribbon {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #b0d0d6;
}

.menu_item {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    font-family: Arial, sans-serif;
    font-size:  20px;
    color: rgb(78, 78, 78);
}

.menu_item:hover {
    padding-top: 10px;
    background-color: #c3dae0;
    color: black;
    border-radius: 5px;
}

a {
    text-decoration: none;
}