body {
    background-color: #c3dae0;
}

.header {
    padding-top: 10px;
    background-color: #384048;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: #94dbe7;
    padding-left: 5%;
}

.ribbon {
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
}

.menu_item {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    font-family: sans-serif;
    font-size:  15px;
    color: #94dbe7;
}

.menu_item:hover {
    padding-top: 10px;
    background-color: #c3dae0;
    color: black;
}

a {
    text-decoration: none;
}