
.subject {
    margin-top: 5%;
    color: #9ec5cc;
    font-size: 20px;
    text-align: center;
}

span.subject, a.subject {
    color: #4e6f9b;
}

.subtitle {
    color: rgb(206, 203, 203);
    font-size: 20px;
    text-align: center;
}

hr {
    width: 65%;
}

.paragraph_wrapper {
    background-color: #fff;
    padding: 30px;
    padding-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
}

.paragraph_body {
  font-size: 20px;
  line-height: 1.5;
  color: #6d6c6c; 
}

.canvas {
    background-color: white;
    height: 70vh; 
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 2px;
    flex-wrap: wrap;
}

.button-container {
    margin-top: 20px; 
    text-align: left; 
}

.button-container, #canvas-buttons {
    margin-right: 10%;
    text-align: right;
    margin-bottom: 10%;
}

.form_wrapper::after {
    content: "";
    text-align: left;
    font-size: 20px;
    line-height: 1.5;
    color: #6d6c6c; 
    display: block; 
    margin-bottom: 10px;
}


.clear-button, .submit-button {
    padding: 10px 20px; 
    margin: 0 10px; 
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    cursor: pointer; 
}

.submit-button {
    background-color: #0ebb98; 
    color: #fff; 
    border: none; 
}

.column-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtext {
    font-size: 17px;
    line-height: 1.5;
    color: #9c9c9c; 
}

.subtext a {
    color: #4e6f9b;
}

.img_wrapper {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
}

img:last-child {
    margin-right: 0;
}

img {
    border-radius: 2%;
    width: 23%;
    height: auto;
    margin-right: 5%;

}

.subtext-wrapper {
    background-color: #b0d0d6;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);

    border-radius: 5px; 

    margin-left: 15%;
    margin-top: 2%;

    padding-top: 20px;
    padding-bottom: 20px;

    width: 70%;
}

.li-wrapper-spread {
    padding-bottom: 5%;
    padding-top: 2%;
}

.li-wrapper-compact {
    padding-bottom: 0.5%;
    padding-top: 5px;
}

ol li{
    display: block;
    text-align: left;
    margin-left: 10px;
    color: #708090;
    font-size: 18px;
}

li a {
    margin-left: 22%;
    color: #4e6f9b;
}

a:hover {
    color: #94dbe7;
    cursor: pointer;
}