/* MAIN VIEW */
.view-wrapper {
    display: flex;
}

.canvas.storyboard {
    width: 80%;
    margin-top: 4%;
    margin-left: 1%;
    margin-right: 3%;
    display: flex;
    flex-wrap: wrap; 
    overflow: auto;
}

/* SIDEBAR */
.sidebar {
    width: 10%;
    top: 0; 
    left: 0;
    background-color: #384048;
    overflow-x: hidden;
    padding-top: 20px;
    padding-right: 0;
    margin-right: 0;
    border-radius: 5px;
    height: 100vh;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
}

/* OBJECTS */
.object-wrapper {
    background-color: #94dbe7;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);

    cursor: pointer; 

    border-radius: 5px; 
    padding-left: 2%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 0.5%;

    margin: 10%;
    width: 70%;
}

.create-new-object {
    background-color: #acacac;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);

    cursor: pointer; 

    border-radius: 5px; 
    padding-left: 2%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 0.5%;

    margin: 10%;
    width: 70%;
}

.object-tag {
    border-radius: 10px;
    background-color: #ccc;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    padding: 3px;
    width: fit-content;
    border: 1px solid darkgray;
    color: rgb(78, 78, 78);
    display: inline-block;
    margin-top: 7%;
}

.detailed-display-container {
    position: relative;
    border: 1px solid #384048;
    background-color: #cce2e6;
    padding: 1%;
    border-radius: 5px;
    margin: 0;
    margin-left: 3%;
    margin-top: 1%;
    min-width: 25%;
}

/* TEXT */
.object-title {
    color: rgb(56, 56, 56);
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 0;
}

.alias {
    text-align: center;
    font-size: 14px;
    color: rgb(90, 89, 89);
}

.object-title-expanded {
    color:#314e53;
    font-weight: 600;
    font-size: 22px;
}

.alias-expanded {
    color: rgb(56, 56, 56);
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0;
    padding-bottom: 0;
}

.expanded-heading {
    margin-top: 5%;
    color:#8e8f8f;
    font-size: 17px;
}

/* BUTTONS */
.remove-button {
    width: 20px;
    height: 20px; 
    border: 1px solid #8e8f8f;
    color: #8e8f8f;
    border-radius: 50%; 
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    float: right;
}

.remove-button:hover {
    border: 1px solid #94dbe7;
    color:  #94dbe7;
}

.delete-button {
    margin: 0 10px;
    font-size: 15px;
    background-color: #be1212;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 7%; 
    text-align: center;
    
    line-height: 1.5;
    width: auto;
    position: absolute;
    padding: 5px 10px;
    bottom: 1%;
    right: 0;
}

.delete-button:hover {
    background-color: #d62121;
}

/* extra */
.expanded-line {
    width: 100%;
}

.expanded-info {
    padding-bottom: 3%;
}